extends layout

block content
  h1 STAG Admin Panel
  table.table.table-striped
    thead
      tr.header
        th Medewerker
        th Locatie
        th # vuilniszakken
        th Geregistreerd op
    tbody